.navigation {
    display: none;
    position: fixed;
    bottom: 0;
}

.recipe {
    height: 100vh;
    background-color: #ffffff;
    background-size: cover;
    background-position: center center;
    position: relative;

    header {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2rem;
        background-color: rgba(255, 255, 255, .3);
        z-index: 1;
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        gap: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
        }

        p {
            font-size: 0.8rem;
        }
    }

    footer {
        display: none;
    }
}