@import url('./reset');

/* inter-100 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    src: url('./fonts/inter-v13-latin-100.woff2') format('woff2');
}

/* inter-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    src: url('./fonts/inter-v13-latin-200.woff2') format('woff2');
}

/* inter-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/inter-v13-latin-300.woff2') format('woff2');
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/inter-v13-latin-regular.woff2') format('woff2');
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('./fonts/inter-v13-latin-500.woff2') format('woff2');
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('./fonts/inter-v13-latin-600.woff2') format('woff2');
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/inter-v13-latin-700.woff2') format('woff2');
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('./fonts/inter-v13-latin-800.woff2') format('woff2');
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('./fonts/inter-v13-latin-900.woff2') format('woff2');
}

body {
    font-family: Inter;
}

.icon {
    display: inline-block;
}