services:
  app:
    build:
      context: .
      dockerfile: deployment/Dockerfile
    container_name: rezeptor-app
    ports:
      - "3000:3000"
    env_file:
      - ./.env
    environment:
      NODE_ENV: production
      POSTGRES_HOSTNAME: rezeptor-database
      DATABASE_URL: postgresql://rezeptor:rezeptor@rezeptor-database:5432/rezeptor
    depends_on:
      - database
  database:
    image: postgres:18
    container_name: rezeptor-database
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rezeptor"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: